<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hair.salon"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:name="com.hair.salon.ui.DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="6tpvWvTVjaaA8cCCCLQ1GdZA" />

        <activity
            android:name="com.hair.salon.ui.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.hair.salon.ui.SalonProductionsActivity"
            android:screenOrientation="portrait"/>
         <activity
            android:name="com.hair.salon.ui.SalonDesigersActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.hair.salon.ui.ProductionOrderPreShowActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.hair.salon.ui.ProductionTuWenXiangQingActivity"
            android:screenOrientation="portrait"/>
         <activity
            android:name="com.hair.salon.ui.WithdrawalActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.hair.salon.ui.WithdrawalRecordsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.hair.salon.ui.SalonEarningsActivity"
            android:screenOrientation="portrait"/>
         <activity
            android:name="com.hair.salon.ui.ApprovalManagerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.hair.salon.ui.CreateSalonActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.hair.salon.ui.JoinInSalonActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.hair.salon.ui.ChooseSalonActivity"
            android:screenOrientation="portrait"/>
         <activity
            android:name="com.hair.salon.ui.QrCodeCaptureActivity"
            android:screenOrientation="portrait"/>
         <activity
            android:name="com.hair.salon.ui.QrCodeShowActivity"
            android:screenOrientation="portrait"/>
         <activity
            android:name="com.hair.salon.ui.MyMessagesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.hair.salon.ui.CustomerAppointmentActivity"
            android:screenOrientation="portrait"/>
         <activity
            android:name="com.hair.salon.ui.MyCustomersActivity"
            android:screenOrientation="portrait"/>
         <activity
            android:name="com.hair.salon.ui.SelfMessageActivity"
            android:screenOrientation="portrait"/>
         <activity
            android:name="com.hair.salon.ui.RechargeToAccountActivity"
            android:screenOrientation="portrait"/>
         <activity
            android:name="com.hair.salon.ui.RechargeRecordsActivity"
            android:screenOrientation="portrait" /> 
        <activity
            android:name="com.hair.salon.ui.MyAccountActivity"
            android:screenOrientation="portrait" />
         <activity
            android:name="com.hair.salon.ui.OrdersCommentsAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hair.salon.ui.OrdersCommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hair.salon.ui.MyOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hair.salon.ui.MyScoreActivity"
            android:screenOrientation="portrait" />
         <activity
            android:name="com.hair.salon.ui.CustomerDataActivity"
            android:screenOrientation="portrait" />
          <activity
            android:name="com.hair.salon.ui.ShowHairActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hair.salon.ui.UserOpinionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hair.salon.ui.CitySelectActivity"
            android:screenOrientation="portrait" />
         <activity
            android:name="com.hair.salon.ui.ProductionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hair.salon.ui.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hair.salon.ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hair.salon.ui.HairDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hair.salon.ui.SalonDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hair.salon.ui.StylistDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.hair.salon.ui.MakeAppointmentSubmitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hair.salon.ui.MyAppointmentInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hair.salon.ui.MyCollectionInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hair.salon.ui.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hair.salon.ui.MySalonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hair.salon.ui.DesignerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hair.salon.ui.SalonManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hair.salon.ui.SalonInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hair.salon.ui.MyWorksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hair.salon.ui.MyServicesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hair.salon.ui.SalonEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hair.salon.ui.AddWorkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hair.salon.ui.SelectPicPopupWindow"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name="com.hair.salon.ui.AddServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hair.salon.ui.MyAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hair.salon.ui.SalonLocationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="sensor" >
        </activity>
        <activity
            android:name="com.hair.salon.ui.AddAddressActivity"
            android:screenOrientation="portrait" />
         <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
    </application>

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </permission>

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <!-- <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"></uses-permission> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 二维码 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

</manifest>